body {
  margin: 0;
  font-family: Arial, sans-serif;

  background: url("https://images.pexels.com/photos/19327245/pexels-photo-19327245.jpeg") no-repeat center center/cover;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  transition: background 0.3s;
}
.dark {
  background: url("https://images.pexels.com/photos/8532112/pexels-photo-8532112.jpeg") no-repeat center center/cover;
}

.sidebar {
  position: fixed;
  left: -250px;
  top: 0;
  width: 250px;
  height: 100vh;
  padding: 20px;

  background: rgba(255,255,255,0.1);
  color: white;

  transition: 0.3s;
}

.sidebar.active {
  left: 0;
}

.sidebar p {
  background: rgba(255,255,255,0.2);
  padding: 8px;
  border-radius: 8px;
  margin: 5px 0;
  cursor: pointer;
}
.main {
  margin-top: 80px;
  text-align: center;
}

.title {
  font-size: 3rem;
  color: white;
}

.search-box {
  display: flex;
  gap: 10px;
  justify-content: center;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  background: #007BFF;
  color: white;
  cursor: pointer;
}

#weatherResult {
  margin-top: 20px;
  width: 300px;
  padding: 20px;
  border-radius: 10px;
  background: rgba(255,255,255,0.2);
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.menu-btn {
  position: absolute;
  top: 20px;
  left: 20px;

  width: 40px;
  height: 40px;

  border-radius: 8px;
  background: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}


.theme-btn {
  position: absolute;
  top: 20px;
  right: 20px;

  width: 40px;
  height: 40px;

  border-radius: 50%;
  background: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}